[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "SPI_LCD"]
	path = SPI_LCD
	url = git@github.com:bitbank2/SPI_LCD.git
